/* Estilos globais */
body {
    font-family:Helvetica, sans-serif;
    background-color:white;
    color:rgb(1, 21, 21);
    margin:0;
    padding:0;
    
}

ul {
    padding:0;
}
h3 {
    margin: 10px 0;
    font-size: small;
    font-weight: bold;
    font-family: Helvetica;

}

.container {
    display: flex;
    border: none, 0 ;
    gap: 1px;
}



/* ESTILOS DO MENU TOP / */
header, .footer  {
    background-color:#7fdbb6;
    width:100%;
    text-align: center;
}
.menutop{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: right;
    justify-content: right;
  
}

.logoimg {
    width: 40px;
    
}

.nav {
    display: flex;
    gap: 20px; 
    padding:10px; 
    justify-content: flex-end;
}

.login {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    background-color: #7fdbb6;
    padding: 10px;
}
.login input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.nav a, .login a {
    text-decoration: none;
    color: oklch(72.032% 0.00687 197.662);
    font-weight: bold;
}

/* MENU LATERAL / */

.menuLateral {
    border: 3px solid #7fdbb6;
    padding: 20px;
    margin: 20px;
    background-color: #a0aec0;
    width: 25%;
    height: 75%;
}


.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2px;
    align-items: center;


}
.produto {
    background-color: white;
    border: 2px solid #7fdbb6;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1) ;

}


.ped  {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}



.comprar {
    background-color: #2c3e50;
    color: white; 

    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;

   
}
.preco {
    color: #e74c3c;
    font-size: 1.2rem;
    margin: 10px 0;
    
}
