* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #F9F9F9;
  color: #2C3E50;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #2C3E50;
}

.menu a {
  margin: 0 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.btn {
  background: #FF6B6B;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

/* ESPACO */
.espacoh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #FFFFFF;
}

.espaco-texto {
  max-width: 500px;
}

.espaco-texto h1 {
  margin-bottom: 10px;
  color: #2C3E50;
}

.beneficio span {
  display: block;
  margin-top: 5px;
  color: #4A5568;
}

.espaco-img img {
  width: 250px;
}

/* SERVIÇOS */
.servicos {
  padding: 40px;
  text-align: center;
  background: #F9F9F9;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  border-top: 6px solid #7FDBB6;
}

/* DIFERENCIAL */
.baixo {
  background: #E2E8F0;
  padding: 30px;
  text-align: center;
  color: #2C3E50;
}

.baixo-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.item {
  flex: 1;
  text-align: center;
  position: relative;
}

/* linha separadora */
.item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background: #ccc;
}

.icon {
  width: 60px;
  margin-bottom: 8px;
}

.item p {
  font-size: 14px;
}


/* FOOTER */
.fim {
  text-align: center;
  padding: 15px;
  background: #2C3E50;
  color: white;
}

.servicosIMG {
  width: 100px;
  padding: 15px;
}



/* RESPONSIVO */
@media (max-width: 768px) {

  .espacoh {
    flex-direction: column;
    text-align: center;
  }

  .cards {
    flex-direction: column;
  }

  .baixo-items {
    flex-direction: column;
    gap: 10px;
  }

}
